
html{
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

/* Body */ 
body{
    color: #234357;
    width: 650px;
    margin: 0 auto;
    background-color: white;
    /* border: 4px solid black; */
    padding: 0 20px 20px 20px
    
    
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
    border: 4px solid #234357;
}

img:hover {
    border: 4px solid #448ca4;
}



p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}


/* Header */
h1 {
font-size: 55px;
text-align: center;
font-family: 'Righteous', cursive;
margin: 0;
padding-bottom: 20px;
color: #ecab8a;
text-shadow: 3px 3px 0px black;

}

h2 {
 font-size: 40px;
 text-align: center;
 font-family: 'Noto Sans', sans-serif;
 margin: 0;
 padding-top: 20px;
 color: #234357; 
}

h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 30px;
    color: #234357; 
   }


/* links */
a{
    font-weight: bold; 
    color:#448ca4;
}
a:hover{
color: #ecab8a;
}

button{
    display: block;
    margin: auto;
    color:aliceblue;
    font-size: 20px;
    padding: 20px;
    background-color: #234357;
    border: none;
}

button:hover{
    background-color: #ecab8a;
}
